node_modules
package-lock.json
yarn.lock

coverage
dist
lib
out

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System Files
.directory
.DS_Store
Thumbs.db
